footer {
    display: flex;
    background-color: #3b3b3b;
    padding: 100px 200px;
    color: $primary-color;
    justify-content: space-between;

    > div {
        h4:not(:last-child), p:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    > div:last-child span{
        font-weight: bold;
    }
}